<% layout('/layouts/boilerplate.ejs') %>
    <div class="row">

        <div class="d-flex justify-content-center">
            <button type="button" class="me-auto btn btn-dark" onclick="history.back()">Back</button>
        </div>
        <div class="col-6 offset-3">
            <form action="/users/editUser/<%= p._id %>?_method=PUT" class="needs-validation" novalidate method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">User's Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name"
                        value="<%= p.name %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        The person has a name right?
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="contact">Contact</label>
                    <input class="form-control" type="text" name="contact" id="contact" placeholder="Contact"
                        value="<%= p.contact %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        We need the person's contact number.
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="text" name="email" id="email" placeholder="Email"
                        value="<%= p.email %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        We also need the person's email id.
                    </div>
                </div>

                <div class="mb-3">
                    <input class="btn btn-success" type="submit" value="Submit">
                </div>


            </form>
        </div>
    </div>